body {
	background-color: rgb(242, 209, 193)
}
header {
	text-align: center;
	font-size: 5rem;
	font-family: 'Permanent Marker', cursive;
	background-color: rgb(53, 19, 219);
	color: white
}

img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

#resBut {
	display: none;
}
#tblSection {
	display: none;
}
/*#graphs {
	display: none;
}*/
